/* <base> */
body {
    height: 1000px;
}

.lot_list {
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 40px;
}

.lot_list .CWSIR_Search {
    -webkit-animation: rotateDivWrap .8s ease-out forwards;
    right: -778px;
    position: relative;
    opacity: .2;
}

.CWSIR_Search a {
    text-decoration: none;
}

.CWSIR_Search button, input, select, textarea {
    font: 14px / 1.125 Arial, Helvetica, sans-serif;
    _font-family: "SimSun";
}

.CWSIR_Search h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}

.CWSIR_Search table {
    border-collapse: collapse;
    border-spacing: 0;
}

.CWSIR_Search li {
    list-style: none;
}

.CWSIR_Search fieldset, img {
    border: 0;
}

.CWSIR_Search q:before, q:after {
    content: '';
}

.CWSIR_Search input, textarea {
    outline-style: none;
}

.CWSIR_Search input[type ="text"], input[type = "password"], textarea {
    outline-style: none;
    -webkit-appearance: none;
}

.CWSIR_Search textarea {
    resize: none
}

.CWSIR_Search address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: normal;
}

.CWSIR_Search legend {
    color: #000;
}

.CWSIR_Search abbr, acronym {
    border: 0;
    font-variant: normal;
}

.CWSIR_Search a {
    text-decoration: none;
}

.CWSIR_Search a:hover {
    text-decoration: underline;
}

/* </base> */
/*<CWSIR entry Button>*/
.CWSIR_entry {
    position: fixed;
    border: 1px solid #F5C66B;
    width: 35px;
    height: 35px;
    z-index: 100000000;
    opacity: 1;
    zoom: 1;
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.CWSIR_right_bottom {
    top: 519px;
    left: 1032px;
    background-color: #EEC801;
}

.CWSIR_right_top {
    top: 488px;
    left: 1061px;
    background-color: #9BD300;
}

.CWSIR_left_bottom {
    top: 488px;
    left: 1003px;
    background-color: #5DB8EF;
}

.CWSIR_left_top {
    top: 458px;
    left: 1032px;
    background-color: #D44F22;
}

.CWSIR_entry .CWSIR_left_top_btn {
    border: 0px;
    position: relative;
    top: 9px;
    -webkit-transform: rotate(-45deg);
    width: 25px;
    height: 25px;
    background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) no-repeat -340px -118px;
}

.CWSIR_entry .CWSIR_left_bottom_btn {
    border: 0px;
    position: relative;
    top: 9px;
    left: 7px;
    -webkit-transform: rotate(-45deg);
    width: 19px;
    height: 18px;
    background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) no-repeat -26px -26px;
}

.CWSIR_entry .CWSIR_right_top_btn {
    border: 0px;
    position: relative;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    width: 27px;
    height: 19px;
    background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) no-repeat -90px -170px;
}

.CWSIR_entry .CWSIR_right_bottom_btn {
    border: 0px;
    position: relative;
    top: 4px;
    left: 7px;
    -webkit-transform: rotate(-45deg);
    background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) no-repeat -26px -125px;
    height: 18px;
    width: 20px;
}

/*</CWSIR entry>*/
/*<CWSIR Search>*/
.CWSIR_Search {
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
    position: fixed;
    right: 0px;
    height: 100%;
    z-index: 100000000;
    width: 483px;
}

.CWSIR_Search .CWSIR_nonecontent {
    font-weight: normal;
    -webkit-border-radius: 18px;
    margin: 1em auto 1em;
    border: 1px solid #CCC;
    padding: 5px;
    margin-left: 13px;
}

.CWSIR_Search .CWSIR_content {
    overflow-y: scroll;
    height: 100%;
    z-index: 1000001;
    background: #ececec;
}

.CWSIR_Search .CWSIR_forwardCon {
    position: relative;
    border: 1px solid rgb(217, 217, 217);
    background-color: #c6c6c6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 15px 0px;
    padding: 10px;
    display: none;
    border-top: 0;
    top: -2px;
}

.CWSIR_Search .CWSIR_forwardText {
    float: left;
    background-color: #EAEAEA;
    border: 0px;
    width: 350px;
    padding: 5px;
    border-radius: 1px;
    margin: 2px 0px 2px 2px;
    height: 0px;
    -webkit-transition: height 0.5s ease-in;
    border: 1px solid #B2B2B2;
    border-bottom: none;
    border-right: none;
}

.CWSIR_Search .CWSIR_forwardBtn {
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 42px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png) 0 0 no-repeat;
}

.CWSIR_Search .CWSIR_forwardBtn:hover {
    background-position: -48px 0;
}

.CWSIR_Search .CWSIR_commentCon {
    position: relative;
    border: 1px solid rgb(217, 217, 217);
    background-color: #c6c6c6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 15px 0px;
    padding: 10px;
    display: none;
    border-top: 0;
    top: -2px;
}

.CWSIR_Search .CWSIR_successBtn {
    display: inline-block;
    height: 46px;
    width: 46px;
    background: url(http://img.t.sinajs.cn/t4/x5style/images/common/icon_sprites.png?id=1344852629494) 8px -256px
}

.CWSIR_Search .CWSIR_commentText {
    float: left;
    background-color: #EAEAEA;
    border: 0px;
    width: 350px;
    padding: 5px;
    border-radius: 1px;
    margin: 2px 0px 2px 2px;
    height: 0px;
    -webkit-transition: height 0.5s ease-in;
    border: 1px solid #b2b2b2;
    border-bottom: none;
    border-right: none;
}

.CWSIR_Search .CWSIR_commentBtn {
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 42px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png) 0 -50px no-repeat;
}

.CWSIR_Search .CWSIR_commentBtn:hover {
    background-position: -49px -50px;
}

.CWSIR_Search .CWSIR_searchhide {
    background: rgba(215, 215, 215, .6);
    width: 5px;
    height: 100%;
    top: 0;
    position: absolute;
    line-height: 100%;
    border-right: 1px solid #fefefe;
}

.CWSIR_Search .CWSIR_searchhideDiv {
    height: 57px;
    background-image: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png);
    background-position: 0 -90px;
    position: relative;
    top: 50%;
    left: 5px;
    width: 30px;
    margin-top: -36px;
    -webkit-transition: left .1s ease-in;
}

.CWSIR_Search .CWSIR_searchhideDiv:hover {
    background-position: -47px -90px;
    left: 6px;
}

/*</CWSIR Search>*/
a.CWSIR_notes:hover {
    background: #FFFDE0;
    text-decoration: underline;
}

a.CWSIR_notes {
    background: #FEFDED;
    color: #F48C12;
    border: 1px solid #F9F2A7;
    display: block;
    height: 23px;
    line-height: 23px;
    text-align: center;
    margin: 0 0 5px;
    font-size: 12px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

/*<CWSIR showWB>*/
.CWSIR_showWB {
    position: relative;
    overflow: hidden;
    border-bottom: 1px dotted #c6c6c6;
    margin: 5px 15px 0px;
    min-height: 100px;
    padding: 0px 0px 0px 15px;
}

.CWSIR_showWB:hover .CWSIR_handle {
    -webkit-animation: popup .3s ease-out forwards;
}

.CWSIR_showWB a {
    color: #666;
}

.CWSIR_showWB .CWSIR_statusCon {
    margin-right: 10px;
    min-height: 50px;
}

.CWSIR_showWB .CWSIR_statusCon {
    font: 12px / 1.125 Arial, Helvetica, sans-serif !important;
    color: #333;
}

.CWSIR_showWB .CWSIR_statusLine {
    margin: 10px 10px 5px 10px;
}

.CWSIR_showWB .CWSIR_headCon {
    width: 45px;
    float: left;
    display: block;
    padding-right: 15px;
}

.CWSIR_showWB .CWSIR_headCon img {
    width: 45px;
    height: 45px;
}

.CWSIR_showWB .CWSIR_headName {
    text-decoration: none;
    word-break: break-all;
    font-size: 14px;
}

.CWSIR_showWB .CWSIR_content {
    max-height: 260px;
    line-height: 23px;
    overflow-y: hidden;
    text-align: left;
    margin-bottom: 10px
}

.CWSIR_showWB .CWSIR_retweetedCon {
    min-height: 45px;
    border-width: 1px;
    border-style: solid;
    border-color: #D9D9D9;
    background-color: #F8F8F8;
    border-radius: 3px;
    padding: 10px 10px 10px 20px;
    margin: 0px 10px 10px 60px;
    font: 12px / 1.125 Arial, Helvetica, sans-serif !important;
    color: #000
}

/*添加结构伪类 增加元素结构*/
.CWSIR_showWB .CWSIR_retweetedCon {
    position: relative;
}

.CWSIR_retweeted_img {
    padding-top: 20px;
    margin: 0 auto;
    display: block;
    cursor: url(http://img.t.sinajs.cn/t5/style/images/common/big.cur), auto !important
}

.CWSIR_showWB .CWSIR_retweetedCon::

before {
    content: "◆";
    font-size: 12px;
    display: inline-block;
    color: #d4d4d4;
    position: absolute;
    top: -7px;
}

.CWSIR_showWB .CWSIR_retweetedCon::

after {
    content: "◆";
    font-size: 10px;
    display: inline-block;
    color: #f5f5f5;
    position: absolute;
    top: -6px;
}

.CWSIR_showWB .CWSIR_retweetedHeadCon {
    display: block;
    float: left;
    padding: 0 15px 0 0px;
    width: 40px;
}

.CWSIR_showWB .CWSIR_retweetedHeadCon img {
    width: 38px;
    height: 38px
}

.CWSIR_showWB .CWSIR_headName {
    text-decoration: none;
    word-break: break-all;
    color: #333;
    font-weight: 700;
}

.CWSIR_showWB .CWSIR_retweetedcontent {
    min-height: 45px;
    float: left;
    width: 310px;
    word-break: break-all;
    line-height: 19px;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: left;
}

.CWSIR_showWB .CWSIR_handle {
    width: 100%;
    height: 36px;
    bottom: -36px;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_Con {
    width: 200px;
    margin: 0 auto
}

.CWSIR_showWB .CWSIR_handle .CWSIR_forward {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 0;
    height: 30px;
    width: 23px;
    float: left;
    margin: 5px 30px auto 0px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_forward:hover {
    background-position: 0 -90px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_comment {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 -30px;
    height: 30px;
    width: 23px;
    float: left;
    margin: 5px 0px auto 40px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_comment:hover {
    background-position: 0 -120px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_fav {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 -60px;
    height: 30px;
    width: 23px;
    float: right;
    margin: 3px 0px auto 0px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_fav:hover {
    background-position: 0 -150px;
}

.CWSIR_showWB .CWSIR_handle .CWSIR_faved {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 -180px;
    height: 30px;
    width: 23px;
    float: right;
    margin: 5px 0px auto 0px;
}

/*</CWSIR showWB>*/
/*<CWSIR showSearchInfo>*/
.CWSIR_showSearchInfo {
    background-color: rgb(236, 236, 236);
    margin-bottom: 20px;
    display: inline-block;
    width: 550px;
    position: relative;
}

.CWSIR_showSearchInfo .CWSIR_clicks {
    width: 20px;
    height: 25px;
    display: block;
    background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) no-repeat -95px -167px;
    float: left;
}

.CWSIR_showSearchInfo .CWSIR_clicksInfo {
    float: left;
    font-size: 14px;
    padding: 5px 40px 0 4px;
}

.CWSIR_showSearchInfo .CWSIR_shares {
    width: 20px;
    height: 25px;
    display: block;
    background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) no-repeat -271px -43px;
    float: left;
}

.CWSIR_showSearchInfo .CWSIR_sharesInfo {
    float: left;
    font-size: 14px;
    padding: 5px 0 0 4px;
}

.CWSIR_showSearchInfo .CWSIR_showCWSIR {
    width: 20px;
    /*right: 10px;
     display: none;*/
    position: absolute;
    /*top: 45%;*/
    display: block;
    right: -18px;
    top: 50%;
}

.CWSIR_showSearchInfo .CWSIR_showCWSIR .CWSIR_iconShow_hover {
    background-position: -47px -90px;
    left: 0px;
}

.CWSIR_iconShow {
    height: 57px;
    background-image: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png);
    background-position: 0px -90px;
    position: relative;
    width: 30px;
    margin-top: -36px;
    -webkit-transition: left 0.1s ease-in;
    transition-property: left;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: initial;
}

/*</CWSIR showSearchInfo>*/
/* <slide> */
#CWSIR_photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100000003;
    position: fixed;
    top: 0;
}

.CWSIR_slide_hidden {
    margin: 0 auto;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 100000002;
    position: fixed;
    top: 0;
    opacity: 0.6
}

.CWSIR_slide {
    margin: 0 auto;
}

#CWSIR_photo .CWSIR_slide_btn {
    background-image: url(http://cwsir.sinaapp.com/images/slide_icon_04.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}

/* </slide> */
/* <slide_largeImage> */
/*#CWSIR_photo .CWSIR_slide_largeImage {
 width: 100%;
 height: 100%;
 }*/
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_wrap {
    position: absolute;
}

#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_wrap img {
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0;
    z-index: 100000002;
    cursor: move;
}

#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip {
    padding: 15px;
    width: 562px;
    left: 50%;
    bottom: 100px;
    position: absolute;
    display: none;
    margin: 0 0 0 -281px;
    z-index: 100000003;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .5);
    background-color: transparenturl(0);
    filter: progid:

DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);







	zoom: 1;
	color: white;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip div{
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 100000003;
	top: 8px;
	right: 8px;
	padding: 0;
	margin: 0;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip .CWSIR_slt_close{
	background-position: -150px -65px;
	width: 10px;
	height: 10px;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip .CWSIR_slt_close:hover{
	background-position: -150px -95px;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip dl{
	padding: 0;
	margin: 0;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip .CWSIR_slt_thumb{
	width: 51px;
	float: left;
	vertical-align: middle;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_tip .CWSIR_slt_content{
	padding-left: 20px;
}
	/* <slide_largeImage_sliders> */
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_sliders{
	position: absolute;
	z-index: 100000003;
	top: 50%;
	width: 60px;
	height: 68px;
	background: none;
	margin-top: -34px;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slsL{
	left: 0;
	margin-left: 0.5%;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slsR{
	right: 0;
	margin-right: 0.5%;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_sliders .CWSIR_sls_btn{
	background-image: url(http://cwsir.sinaapp.com/images/slide_icon_02.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 68px;
    display: inline-block;
    overflow: hidden;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_sliders .CWSIR_sls_left{
	background-position: 0 0;
    float: left;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_sliders .CWSIR_sls_right{
	background-position: -60px 0;
    float: right;
}

#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_sliders .CWSIR_sls_left:hover{
	background-position: 0 -68px;
}
#CWSIR_photo .CWSIR_slide_largeImage .CWSIR_slide_largeImage_sliders .CWSIR_sls_right:hover{
	background-position: -60px -68px;
}

	/* </slide_largeImage_sliders> */
/* </slide_largeImage> */

/* <slide_controllers> */
#CWSIR_photo .CWSIR_slide_control{
	position: absolute;
	z-index: 100000004;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}
#CWSIR_photo .CWSIR_slide_controllers{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 100000004;
	left: 0;
	top: 0;
	background-color: black;
	text-align: center;
}
#CWSIR_photo .CWSIR_slide_controllers div{
	display: inline-block;
	*display: inline;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sc_btn{
	width: 29px;
	height: 25px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_slide_controllers_pack{
	width: 29px;
	height: 25px;
	position:absolute;
	z-index: 100000005;
	left: 0;
	top: 0;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scp_release{
	background-position: 0 0;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scp_release:hover{
	background-position: 0 -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scp_up{
	background-position: -30px 0;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scp_up:hover{
	background-position: -30px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_slide_controllers_ctrlBtns{
	/*width: 50%;*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*display: inline-block;*/
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccz_in{
	background-position: -29px -63px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccz_in:hover{
	background-position: -29px -92px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccz_out{
	background-position: -59px -63px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccz_out:hover{
	background-position: -59px -92px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scct_left{
	background-position: -60px 0;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scct_left:hover{
	background-position: -60px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scct_right{
	background-position: -90px 0;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scct_right:hover{
	background-position: -90px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scc_player a{
	width: 54px;
	height: 28px;
	margin: 0;
	padding: 0;
	float:left;
	*float: none;
	overflow: hidden;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_left{
	background-position: -240px -60px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_left:hover ,  #CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_leftPlay{
	background-position: -240px 0px;
}
#CWSIR_photo .CWSIR_slide_controllers a.CWSIR_sccp_stop{
    background-position: -295px 0;
    width: 40px;
}
#CWSIR_photo .CWSIR_slide_controllers a.CWSIR_sccp_stop:hover{
    background-position: -444px -30px;
    width: 40px;
}
#CWSIR_photo .CWSIR_slide_controllers a.CWSIR_sccp_play{
	background-position: -444px 0;
    width: 40px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_play:hover{
	background-position: -295px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_right{
	background-position: -335px -60px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_right:hover , #CWSIR_photo .CWSIR_slide_controllers .CWSIR_sccp_rightPlay{
	background-position: -335px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_showtip{
	background-position: -150px 0;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_showtip:hover{
	background-position: -150px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_adaptive{
	background-position: -120px -64px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_adaptive:hover{
	background-position: -120px -92px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_viewphoto{
    background-position: -180px 0px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_viewphoto:hover{
    background-position: -180px -29px;
}

#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_ifavphoto{
    background-position: -120px 0px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_ifavphoto:hover{
    background-position: -120px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_ihavefavphoto{
    background-position: -120px -30px;
}
#CWSIR_photo .CWSIR_slide_controllers .CWSIR_scco_close{
	background-image: url(http://img3.app.wcdn.cn/ops/photo/style/images_v5/common/icon.png);
    width: 25px;
    height: 25px;
    background-position: -65px -1285px;
}

/* </slide_controllers> */

/* <slide_imageList> */
#CWSIR_photo .CWSIR_slide_imageList{
	background-color: black;
	width: 100%;
	overflow: hidden;
}
#CWSIR_photo .CWSIR_slide_imageList div{
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_slide_revolving_direction{
	width: 30px;
	height: 56px;
	position: absolute;
	z-index: 100000005;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_srdL{
	left: 0;
	bottom: 0;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_srdR{
	right: 0;
	bottom: 0;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_srd_left{
	width: 20px;
	height: 56px;
	background-position: -539px 0;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_srd_left:hover{
	background-position: -569px 0;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_srd_right{
	width: 30px;
	height: 56px;
	background-position: -530px -60px;
	position: absolute;
	right: 0;
	bottom: 0;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_srd_right:hover{
	background-position: -560px -60px;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_slide_revolving_imageList{
	width: 100%;
	height: 67px;
	background-color: black;
	position: relative;
	z-index: 100000005;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_slide_revolving_imageList ul{
	position: absolute;
	z-index: 100000005;
	left: 0;
	margin: 0 25px;
	padding: 0;
	float: left;
	width: 5000000px;
	overflow: hidden;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_slide_revolving_imageList li{
	list-style: none;
	float: left;
	display: inline;
	margin: 0px 5px;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_sri_img{
	display: block;
	border: 3px solid #464342;
}
#CWSIR_photo .CWSIR_slide_imageList li a:hover{
	border-color: white;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_sri_imgCurr{
	display: block;
	border: 3px solid white;
}
#CWSIR_photo .CWSIR_slide_imageList .CWSIR_sri_img img{
	border-width: 0px;
	border-color:transparent;
	margin: 0;
	padding: 0;
}
#CWSIR_photo .close{
	display: block;
	position:absolute;
width: 45px;
height: 48px;
background: url(http://mat1.gtimg.com/www/mb/img/p1/ui_gallery_remove_btn.png) no-repeat;
cursor: pointer;
z-index:100000004;
right:0px;
top:0px;

}
.CWSIR_scc_transformer{
	padding-right:30px;
}
/* </slide_imageList> */

/*  at  */
.CWSIR_layer_menu_list {
background: white;
color: #333;
border: 1px solid #CCC;
border-radius: 2px;
padding: 1px;
}

.CWSIR_layer_menu_list ul {
margin: 0;
padding: 0;
clear: both;
}

.CWSIR_layer_menu_list ul li.CWSIR_title, .CWSIR_layer_menu_list ul li.CWSIR_suggest_title {
padding: 5px 10px;
display: block;
cursor: default;
white-space: nowrap;
}

.CWSIR_layer_menu_list ul li {
position: static;
float: none;
margin: 0;
padding: 0;
display: inline;
line-height: 1.2;
}

.CWSIR_layer_menu_list ul li a {
white-space: nowrap;
padding: 5px 10px;
color: #333;
display: block;
}
.CWSIR_layer_menu_list { background:#fff; color:#333; border:1px solid #ccc; border-radius:2px; padding:1px; }
.CWSIR_layer_menu_list ul { margin:0; padding:0; clear:both }
.CWSIR_layer_menu_list ul li { position:static; float:none; margin:0; padding:0; display:inline; }
.CWSIR_layer_menu_list ul li.title,.layer_menu_list ul li.suggest_title { padding:5px 10px; display:block; cursor:default; white-space:nowrap; }
.CWSIR_layer_menu_list ul li a { white-space:nowrap; padding:5px 10px; color:#333; display:block; *font-family:SimSun;}
.CWSIR_layer_menu_list ul li a:hover,.CWSIR_layer_menu_list ul li.CWSIR_cur a,.CWSIR_layer_menu_list ul li.CWSIR_cur a:hover { background-color:#e6e6e6; text-decoration:none; }
/*  end at */

 /*
  * sendweibo`
  * */
 #cwsir_sendweibo_div .CWSIR_delphoto{
 position: absolute;
 float:left;
top: -5px;
left:-5px;
background: url(http://img.t.sinajs.cn/t5/style/images/common/icon.png) -100px -25px no-repeat;
height: 15px;
width: 12px;
z-index:1000;
}
 #cwsir_sendweibo_div .CWSIR_preview{
max-height: 50px;
vertical-align: middle;
float: left;
position: relative;
top: -2px;
height:50px;
 }
 #cwsir_sendweibo_div .CWSIR_preview_div{
 	position: relative;
    float:left;
	margin:0 5px 3px 0;
 }


/*animation*/
@-webkit-keyframes popup{
	0%{bottom:-36px;}
	60%{bottom:0;}
	80%{bottom:-5px;}
	100%{bottom:0;}
}


@-webkit-keyframes rotateDivWrap{
	0%{-webkit-transform: rotateY(-4deg) translate3d(400px, 0px, 0px); opacity:.4;}
	25%{-webkit-transform: rotateY(0deg) translate3d(100px, 0px, 0px); opacity:1}
	50%{-webkit-transform: rotateY(4deg) translate3d(0px, 0px, 0px); opacity:.4}
	70%{-webkit-transform: rotateY(-2deg); opacity:.8}
	85%{-webkit-transform: rotateY(2deg); opacity:.8}
	100%{-webkit-transform: rotateY(0);opacity:1}
}
/*scroll-bar*/
.CWSIR_Search .CWSIR_content::-webkit-scrollbar {
    width: 12px;
}

.CWSIR_Search .CWSIR_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #666666;
}

.CWSIR_Search .CWSIR_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.CWSIR_Search .CWSIR_content::-webkit-scrollbar-thumb:window-inactive {
background: rgba(0,0,0,0.4);
}


.CWSIR_explode{display:inline-block;width:33px;height:33px;position:relative;z-index:100000000; cursor:pointer;border:0 #important;}
        .CWSIR_entry_icon{display:inline-block;width:33px;height:33px;position:relative;background:url("http://cwsir.sinaapp.com/CWSirExtensions/images/icon.png") no-repeat -120px 0;z-index:10;}
        .CWSIR_icon{display:inline-block;left:5px;top:5px;position:absolute;width:26px;height:25px;background:url("http://cwsir.sinaapp.com/CWSirExtensions/images/icon.png") no-repeat;opacity:0;-webkit-transition:all .3s ease-in;z-index:1;}
        .CWSIR_icon01{background-position:0 0;}
        .CWSIR_icon02{background-position:-30px 0;}
        .CWSIR_icon03{background-position:-60px 0;}
        .CWSIR_icon04{background-position:-90px 0;}

        .CWSIR_explode_hover {-webkit-transform:rotate(360deg);-webkit-transition:-webkit-transform .4s ease-in; z-index:1000000; cursor:pointer;overflow:visible;}
        .CWSIR_explode_hover .CWSIR_icon{opacity:1;cursor:pointer;}
        .CWSIR_explode_hover .CWSIR_icon01{left:-15px;top:-17px;}
        .CWSIR_explode_hover .CWSIR_icon02{left:24px;top:-17px;-webkit-transition-delay:.05s}
        .CWSIR_explode_hover .CWSIR_icon03{left:-15px;top:24px;-webkit-transition-delay:.1s}
        .CWSIR_explode_hover .CWSIR_icon04{left:24px;top:24px;-webkit-transition-delay:.2s}

.cwsir_submit_filter{
	background: -webkit-linear-gradient(top,#008DFD 0,#0370EA 100%);
border: 1px solid #076BD2;
border-radius: 3px;
color: white !important;
display: inline-block;
font-weight: 700;
line-height: 1.3;
padding: 8px 25px;
text-align: center;
text-decoration: none !important;
float: right;
margin-right: 30px;
cursor: pointer;
text-shadow: 1px 1px 1px #076BD2;
}

.cwsir_cancel_filter{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
 border:1px solid rgba(0,0,0,0.1);
border-radius: 3px;
color: #3e1e1e !important;
display: inline-block;
font-weight: 700;
line-height: 1.3;
padding: 8px 25px;
text-align: center;
text-decoration: none !important;
float: right;
margin-right: 30px;
cursor: pointer;
}

