div {
    margin: 0
}

span {
    padding: 0
}

p {
    max-width: 500px !important
}
.function {padding-bottom:20px;border-bottom:1px solid #e3e3e3}


.cc {
    display: inline-block;
    *display: inline
}

