.closure.modal > .content > .image {
    display: block;
    width: "";
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: top;
        align-self: top;
    -ms-flex-item-align: top;
}
