@keyframes errorbg {
    0%,
25% {
        background: #f5cfc4;
     _opacity: .18;
    }
    100% {
        background: #f5cfc4;
        opacity: .18;
    }
}

body ,b,a {
    color: #fff;
}

 @media handheld and (min-width:360px), screen and (min-width:480px) {
    body {_color: #fff;
    }

}

@media screen and (orientation:portrait) {
    @media screen and (min-device-width: 360px) {
        #footerLogo {
            *margin-top: 5px;
        }
    }
    @media screen and (min-device-width: 500px) {
        #footerLogo {
            margin-top: 15px;
        }
    }
}
@media screen and (orientation:landscape) {
    #container {
        width: 320px;
        margin: 0 auto;
    }
}

