.ec_listingads .ec_bridge {
    font-size: 14px;
    display: inline-block;
    float: right;
    text-align: center;
    padding: 10px 9px 8px;
    color: #262626;
    overflow: hidden;
    margin-bottom: -9px;
}
.ec_listingads .ec_icon_bridge {
    display: block;
    width: 14px;
    height: 14px;
    margin: 1px auto 6px auto;
}
