/** sprite: common; sprite-image: url('decorator/common-${md5}.png'); */
@font-face {
    font-family: "icomoon";
    src: url(fonts/icomoon.eot?wexquh);
    src: url(fonts/icomoon.eot?#iefixwexquh) format('embedded-opentype'),
         url(fonts/icomoon.woff?wexquh) format('woff'),
         url(fonts/icomoon.ttf?wexquh) format('truetype'),
         url(fonts/icomoon.svg?wexquh#icomoon) format('svg');
    font-weight: 400;
    font-style: normal;
}

.icon {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ".";
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

/* Hides from IE-mac \*/
.clearfix {
    display: block;
}

.clear {
    font-size: 0;

    clear: both;

    height: 0;
}

.ellipsis {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.l {
    float: left;
}

.r {
    float: right;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.muted {
    color: #999;
}

.big {
    font-size: 1.1666667em;
}

.large {
    font-size: 1.3333333em;
}

.huge {
    font-size: 1.5em;
}

a.not-a-link {
    cursor: default;
}

a.not-a-link:hover {
    text-decoration: none;
}


a.disabled {
    cursor: default;

    color: #999;
}

a.disabled:hover {
    text-decoration: none;
}

input.gray {
    color: #A9A9A9;
}

label.radio,
label.checkbox {
    display: inline-block;
    line-height: 15px;

    position: relative;

    cursor: pointer;
    text-indent: 4px;
}

label.radio input[type="radio"],
label.checkbox input[type="checkbox"] {
    height: 14px;

    vertical-align: top;
}

label.radio input[type="radio"]:not(:only-child),
label.checkbox input[type="checkbox"]:not(:only-child) {
    opacity: 0;
}

label.radio input[type="radio"]:not(:only-child) + i,
label.checkbox input[type="checkbox"]:not(:only-child) + i {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 13px;
    height: 13px;

    content: " ";

    opacity: 1;
    border: 1px solid #CFCFCF;
    background-repeat: no-repeat;
}

label.radio input[type="radio"]:not(:only-child):checked + i,
label.checkbox input[type="checkbox"]:not(:only-child):checked + i {
    background-image: url(decorator/input_checked.png); /** sprite-ref: common; sprite-margin-bottom: 20px; */
}

/* Fix a chrome's bug: check status change won't repaint sibling elements */
/* http://stackoverflow.com/questions/8320530/webkit-bug-with-hover-and-multiple-adjacent-sibling-selectors */
:checked ~ i {
    display: inline;
}

/* 20311210 防止离线宝和商桥误开通显示 */
.lxb-container,
#BDBridgeWrap {
    display: none;
}

/* something wrong with jQuery ui tooltip accessibility */
.ui-helper-hidden-accessible {
    display: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
