
/*.a.a {
    color: red;
}*/

/*.c .d {
    width: 20px;
}*/

.aa {
    color: red;
}

p.bb .testp {
    color: green;
}

a:hover {
    color: red;
}

#cc {
    color: #fff;
}

div#cc {
    color: #000;
}

a.test:hover {
    color: #ccc;
}

.aad, a.ddd {
    color: red;
}



.post .cc, .page cc.dd, cc.comment cc.ee .gg{
    line-height: 1.5;
}

a.aa {
    color: red;
}

.aad, a {
    color: red;
}

.pagesss .cc, .page .dd{
    line-height: 1.5;
}

.aaa,  hh.bbb > ll.oo, .ccc, .ddd{
    color: red;
}

/*.CWSIR_page_tab_radious .CWSIR_page_t_itm, .CWSIR_page_tab_radious .CWSIR_page_t_opt, .CWSIR_page_tab_radious .CWSIR_page_W_vline, .aaa .bbb .ccc {
 float: left;
 display: inline;
 margin: 0 8px 0 0;
 line-height: 22px;
 text-align: center;
}*/

/*#ccc .fff .qqq, #ccc .fff .qqq a, #ccc .fff a.cwsirrss_entry-source-title, #ccc .fff a.cwsirrss_entry-post-author-name {
    color: #15c;
}*/



/*li.selected > a:hover > a:focus {
    color: #ccc;
}*/


/*li.selected > a:hover {*/
    /*color: red;*/
/*}*/
