.wm-location-show-middle span {
    display: inline-block;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    background:url(//m.baidu.com/static/search/appAla/weizhan/icon_how.png) no-repeat;
    background-size: 11px 11px;
    vertical-align: -1px;
}
