.user-info-list {
    height: 90px;
    font-size: 13px;
}

.aa {
    height: 90px;
    font-size: 13px;
}

.bb {
    height: 90px;
    font-size: 13px;
}

.cc {
    height: 90px;
    font-size: 13px;
}

.dd {
    height: 90px;
    font-size: 13px;
}

.ee {
    height: 90px;
    font-size: 13px;
}

.ff {
    height: 90px;
    font-size: 13px;
}

.gg {
    height: 90px;
    font-size: 13px;
}

.hh {
    height: 90px;
    font-size: 13px;
}

.ii {
    height: 90px;
    font-size: 13px;
}

.jj {
    height: 90px;
    font-size: 13px;
}

.kk {
    height: 90px;
    font-size: 13px;
}
