#ccc .fff .qqq, #ccc .fff .qqq a, .aaaa, #ccc .fff a.cwsirrss_entry-source-title, #ccc .fff a.cwsirrss_entry-post-author-name {
    color: #15c;color: #151;color: #152;color: #153;color: #154;color: #155;color: #156;color: #157;color: #158;color: #159;color: #160;
}

div {
    background-image: 2px 2px url(data:image/gif;base64,R0lGODlhCAAHAIABAGZmZv///yH5BAEAAAEALAAAAAAIAAcAAAINjAOnkIr8mGxGOnhPAQA7);
}
