/* csshint-disable require-before-spacedd */
#div{
    margin: 0;
    color: #fff;
}
/* csshint-enable require-before-spacedd */

span{
    padding: 0px;
}
/* csshint-enable require-before-spacedd */
