@charset "utf-8";

.CWSIR_topic_Search a {
    text-decoration: none;
}

.CWSIR_topic_Search button, input, select, textarea {
    font: 14px / 1.125 Arial, Helvetica, sans-serif;
    _font-family: "SimSun";
}

.CWSIR_topic_Search h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}

.CWSIR_topic_Search table {
    border-collapse: collapse;
    border-spacing: 0;
}

.CWSIR_topic_Search li {
    list-style: none;
}

.CWSIR_topic_Search fieldset, img {
    border: 0;
}

.CWSIR_topic_Search q:before, q:after {
    content: '';
}

.CWSIR_topic_Search input, textarea {
    outline-style: none;
}

.CWSIR_topic_Search input[type ="text"], input[type = "password"], textarea {
    outline-style: none;
    -webkit-appearance: none;
}

.CWSIR_topic_Search textarea {
    resize: none
}

.CWSIR_topic_Search address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: normal;
}

.CWSIR_topic_Search legend {
    color: #000;
}

.CWSIR_topic_Search abbr, acronym {
    border: 0;
    font-variant: normal;
}

.CWSIR_topic_Search a {
    text-decoration: none;
}

.CWSIR_topic_Search a:hover {
    text-decoration: underline;
}

/*<CWSIR_topic_ Search>*/
.CWSIR_topic_Search {
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
    position: relative;
    height: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-right: 20px;
    width: 99%;
}

.CWSIR_topic_Search .CWSIR_topic_nonecontent {
    font-weight: normal;
    -webkit-border-radius: 18px;
    margin: 1em auto 1em;
    border: 1px solid #CCC;
    padding: 5px;
    margin-left: 13px;
}

.CWSIR_topic_Search .CWSIR_topic_content {
    overflow-y: scroll;
    height: 400px;
    background-color: #E6E6E6;
    padding: 2px 5px 0 5px;
}

.CWSIR_topic_Search .CWSIR_topic_forwardCon {
    position: relative;
    border: 1px solid rgb(217, 217, 217);
    background-color: #c6c6c6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 15px 0px;
    padding: 10px;
    display: none;
    border-top: 0;
    top: -2px;
}

.CWSIR_topic_Search .CWSIR_topic_forwardText {
    float: left;
    background-color: #EAEAEA;
    border: 0px;
    width: 350px;
    padding: 5px;
    border-radius: 1px;
    margin: 2px 0px 2px 2px;
    height: 0px;
    -webkit-transition: height 0.5s ease-in;
    border: 1px solid #B2B2B2;
    border-bottom: none;
    border-right: none;
}

.CWSIR_topic_Search .CWSIR_topic_forwardBtn {
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 42px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png) 0 0 no-repeat;
}

.CWSIR_topic_Search .CWSIR_topic_forwardBtn:hover {
    background-position: -48px 0;
}

.CWSIR_topic_Search .CWSIR_topic_commentCon {
    position: relative;
    border: 1px solid rgb(217, 217, 217);
    background-color: #c6c6c6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 15px 0px;
    padding: 10px;
    display: none;
    border-top: 0;
    top: -2px;
}

.CWSIR_topic_Search .CWSIR_topic_successBtn {
    display: inline-block;
    height: 46px;
    width: 46px;
    background: url(http://img.t.sinajs.cn/t4/x5style/images/common/icon_sprites.png?id=1344852629494) 8px -256px
}

.CWSIR_topic_Search .CWSIR_topic_commentText {
    float: left;
    background-color: #EAEAEA;
    border: 0px;
    width: 350px;
    padding: 5px;
    border-radius: 1px;
    margin: 2px 0px 2px 2px;
    height: 0px;
    -webkit-transition: height 0.5s ease-in;
    border: 1px solid #b2b2b2;
    border-bottom: none;
    border-right: none;
}

.CWSIR_topic_Search .CWSIR_topic_commentBtn {
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 42px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png) 0 -50px no-repeat;
}

.CWSIR_topic_Search .CWSIR_topic_commentBtn:hover {
    background-position: -49px -50px;
}

.CWSIR_topic_Search .CWSIR_topic_searchhide {
    background: rgba(215, 215, 215, .6);
    width: 5px;
    height: 100%;
    top: 0;
    position: absolute;
    line-height: 100%;
    border-right: 1px solid #fefefe;
}

.CWSIR_topic_Search .CWSIR_topic_searchhideDiv {
    height: 57px;
    background-image: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png);
    background-position: 0 -90px;
    position: relative;
    top: 50%;
    left: 5px;
    width: 30px;
    margin-top: -36px;
    -webkit-transition: left .1s ease-in;
}

.CWSIR_topic_Search .CWSIR_topic_searchhideDiv:hover {
    background-position: -47px -90px;
    left: 6px;
}

/*</CWSIR_topic_ Search>*/
.CWSIR_topic_showWB {
    position: relative;
    overflow: hidden;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    min-height: 100px;
    padding: 0px 0px 0px 0px;
    background-color: white;
}

/*
 .CWSIR_topic_showWB:hover .CWSIR_topic_handle {
 -webkit-animation: popup .3s ease-out forwards;
 }
 */
.CWSIR_topic_showWB a {
    color: #666;
}

.CWSIR_topic_showWB .CWSIR_topic_statusCon {
    margin:0 5px;
    min-height: 50px;
}

.CWSIR_topic_showWB .CWSIR_topic_statusCon {
    font: 12px / 1.125 Arial, Helvetica, sans-serif !important;
    color: #333;
}

.CWSIR_topic_showWB .CWSIR_topic_statusLine {
    margin: 10px 10px 5px 10px;
}

.CWSIR_topic_showWB .CWSIR_topic_headCon {
    width: 175px;
    display: block;
    padding: 0 5px;
}

.CWSIR_topic_showWB .CWSIR_topic_headCon img {
    width: 45px;
    height: 45px;
}

.CWSIR_topic_showWB .CWSIR_topic_WBcontent {
    line-height: 20px;
    overflow-y: hidden;
    text-align: left;
    margin-bottom: 5px;
    background: white;
    margin-left: 5px;
}

.CWSIR_topic_showWB .CWSIR_topic_WBcontent img {
    height: 15px;
}

.CWSIR_topic_showWB .CWSIR_topic_content_pic {
    margin: 0px auto 15px;
    display: block;
    cursor: url(http://img.t.sinajs.cn/t5/style/images/common/big.cur), auto !important;
    text-align: center;
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedCon {
    border-width: 1px;
    border-style: solid;
    border-color: #D9D9D9;
    background-color: #F8F8F8;
    border-radius: 3px;
    padding: 5px 10px 10px 10px;
    margin: 0px 5px 10px 5px;
    font: 12px / 1.125 Arial, Helvetica, sans-serif !important;
    color: #000
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedcontent img {
    height: 13px;
}

/*添加结构伪类 增加元素结构*/
.CWSIR_topic_showWB .CWSIR_topic_retweetedCon {
    position: relative;
}

.CWSIR_topic_retweeted_img {
    margin: 0 auto;
    display: block;
    cursor: url(http://img.t.sinajs.cn/t5/style/images/common/big.cur), auto !important
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedCon::

before {
    content: "◆";
    font-size: 12px;
    display: inline-block;
    color: #d4d4d4;
    position: absolute;
    top: -7px;
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedCon::

after {
    content: "◆";
    font-size: 10px;
    display: inline-block;
    color: #f5f5f5;
    position: absolute;
    top: -6px;
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedHeadCon {
    display: block;
    padding: 0 15px 0 0px;
    width: 175px;
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedHeadCon img {
    width: 38px;
    height: 38px
}

.CWSIR_topic_showWB .CWSIR_topic_headName {
    text-decoration: none;
    word-break: break-all;
    font-weight: bold;
    margin: 5px 0 0 10px;
    height: 30px;
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #0078B6;
}

.CWSIR_topic_showWB .CWSIR_topic_retweetedcontent {
    min-height: 45px;
    word-break: break-all;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: left;
}

.CWSIR_topic_showWB .CWSIR_topic_handle {
    width: 100%;
    height: 36px;
    bottom: 0;
    position: relative;
    display: block;
background-color:rgb(230, 230, 230);
    left: 0px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_Con {
    width: 200px;
    margin: 0 auto
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_forward {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 0;
    height: 30px;
    width: 23px;
    float: left;
    margin: 5px 30px auto 0px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_forward:hover {
    background-position: 0 -90px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_comment {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 -30px;
    height: 30px;
    width: 23px;
    float: left;
    margin: 5px 0px auto 40px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_comment:hover {
    background-position: 0 -120px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_fav {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 -60px;
    height: 30px;
    width: 23px;
    float: right;
    margin: 3px 0px auto 0px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_fav:hover {
    background-position: 0 -150px;
}

.CWSIR_topic_showWB .CWSIR_topic_handle .CWSIR_topic_faved {
    display: block;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_icon.png) no-repeat 0 -180px;
    height: 30px;
    width: 23px;
    float: right;
    margin: 5px 0px auto 0px;
}

/*scroll-bar*/
.CWSIR_topic_Search .CWSIR_topic_content::-webkit-scrollbar {
    width: 12px;
}

.CWSIR_topic_Search .CWSIR_topic_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #666666;
}

.CWSIR_topic_Search .CWSIR_topic_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.CWSIR_topic_Search .CWSIR_topic_content::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

/*
 * 转发
 * 评论
 * 收藏按钮
 */
.CWSIR_topic_Search .CWSIR_forwardCon {
    position: relative;
    border: 1px solid rgb(217, 217, 217);
    background-color: #c6c6c6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 4px 0px;
    padding: 10px;
    display: none;
    border-top: 0;
    top: -2px;
}

.CWSIR_topic_Search .CWSIR_forwardText {
    float: left;
    background-color: #EAEAEA;
    border: 0px;
    padding: 5px;
    border-radius: 1px;
    margin: 2px 0px 2px 2px;
    height: 0px;
	overflow:hidden;
    -webkit-transition: height 0.5s ease-in;
    border: 1px solid #B2B2B2;
    border-bottom: none;
    border-right: none;
width:80%;
}

.CWSIR_topic_Search .CWSIR_forwardBtn {
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 42px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png) 0 0 no-repeat;
}

.CWSIR_topic_Search .CWSIR_forwardBtn:hover {
    background-position: -48px 0;
}

.CWSIR_topic_Search .CWSIR_commentCon {
    position: relative;
    border: 1px solid rgb(217, 217, 217);
    background-color: #c6c6c6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 4px 0px;
    padding: 10px;
    display: none;
    border-top: 0;
    top: -2px;
}

.CWSIR_topic_Search .CWSIR_successBtn {
    display: inline-block;
    height: 46px;
    width: 46px;
    background: url(http://img.t.sinajs.cn/t4/x5style/images/common/icon_sprites.png?id=1344852629494) 8px -256px
}

.CWSIR_topic_Search .CWSIR_commentText {
    float: left;
	overflow:hidden;
    background-color: #EAEAEA;
    border: 0px;
    padding: 5px;
    border-radius: 1px;
    margin: 2px 0px 2px 2px;
    height: 0px;
    -webkit-transition: height 0.5s ease-in;
    border: 1px solid #b2b2b2;
    border-bottom: none;
    border-right: none;
	width:80%;
}

.CWSIR_topic_Search .CWSIR_commentBtn {
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 42px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/comment_btn.png) 0 -50px no-repeat;
}

.CWSIR_topic_Search .CWSIR_commentBtn:hover {
    background-position: -49px -50px;
}

.CWSIR_topic_Search .CWSIR_topic_title {
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    border: 1px solid rgb(230, 230, 230);
}

.CWSIR_topic_Search .CWSIR_topic_title_logo {
    zoom: 0.7;
    height: 33px;
    width: 40px;
    background: url(http://cwsir.sinaapp.com/CWSirExtensions/images/icon.png) -119px 1px no-repeat;
    display: inline-block;
    margin-top: 5px;
}

.CWSIR_topic_Search .CWSIR_topic_title_text {
    display: inline;
    margin-bottom: 3px;
    font-size: 16px;
}
