body {
    color: #fff;
    color: #FFF;
    color: #000abC;
    color: #eeeeee;
    color: #CCC;
    border: 1px solid rgb(255, 255, 255);
    background: url("images/icons.png") #acacac no-repeat;
}

